# Build files

/build/*
!/build/.gitkeep

# Caches

.cache
.local
/var/cache

# Temporary files

tmp/*
!tmp/.gitignore

# VsCode

.vscode-server

# Obsidian

.trash/*
.obsidian

# NodeJS

node_modules/
.npm/
.node_repl_history

# Archimate Modeling Tool

*.archimate.bak

# Bash and Terminal runtime

.ash_history
.bash_history
.profile
.bashrc
.python_history

# Security Ignores

.python-version
*-GITIGNORE*
**/GITIGNORE/**
*.swp


