# Bash and Terminal runtime

.ash_history
.bash_history
.profile
.bashrc

# Caches

.cache

# VsCode

.vscode-server

# Obsidian

/.trash/*

# NodeJS

node_modules/
.npm/

# Archimate Modeling Tool

*.archimate.bak

# Security Ignores

.obsidian
.python-version
