{
	"*.md": ["Operations/Engineering/Lint/file.sh"],
	"*.ts": ["Operations/Engineering/Lint/file.sh"],
	"*.json": ["Operations/Engineering/Lint/file.sh"],
	"*.sh": ["exit 0 && npx shellcheck"],
	".husky/*": ["npx shellcheck -e SC1081"]
}
